body {
  font-family: 'Oswald', sans-serif;
  background-color: rgb(22, 21, 21);
}

font-family: 'Special Elite', cursive;
font-family: 'Oswald', sans-serif;

a {
  color: rgb(88, 78, 78);
  font-size: x-small;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 60px;
}

h2 {
  font-family: 'Special Elite', cursive;
}

h4 {
  font-family: 'Special Elite', cursive;
  font-size: small;
}

p {
  color: whitesmoke;
  font-weight: bolder;
  word-break: break-word;
}

h3 {
  font-family: 'Special Elite', cursive;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke
}



.links {
  background-color: rgb(22, 21, 21);
  position: absolute;
  top: 8px;
  left: 16px;
}

.image-cropper {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 16px;
  right: 32px;
  overflow: hidden;
  border-radius: 50%;
  
}

.profileimg {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}
  
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* Project info */
.projh {
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 30px;
}

.projone {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 900px;
  left: 16px;
  color: whitesmoke;
}

.projtwo {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: right;
  position: absolute;
  top: 1100px;
  right: 16px;
  color: whitesmoke;
  
}

.projthree {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 1300px;
  left: 16px;
  color: whitesmoke;
}

.aboutme {
  position: absolute;
  top: 1850px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: whitesmoke;
}

.contact {
  position: absolute;
  top: 2150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: whitesmoke;
}

  /* Overlay Effect */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: whitesmoke;
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: whitesmoke;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

  /* Button CSS */
.button {
  display: inline-block;
  border-radius: 16px;
  background-color: whitesmoke;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
  width: 145px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.button:hover span {
  padding-right: 25px;
}
  
.button:hover span:after {
  opacity: 1;
  right: 0;
}