body {
  font-family: 'Raleway', sans-serif;
  
}

a {
  color: whitesmoke;
  font-size: x-small;
}

h1 {
  color: rgb(214, 250, 9);
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 60px;
}

h4 {
  color: rgb(214, 250, 9);
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: small;
}

p {
  color: rgb(214, 250, 9)
}

h3 {
  color: rgb(214, 250, 9)
}

.links {
  background-color: black;
  position: absolute;
  top: 8px;
  left: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(214, 250, 9)
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 8px;
  right: 16px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 5px;
}

img {
    display: inline;
    margin: 0 auto;
    border: red;
    height: auto;
    width: 100%;
}
  
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* Project info */
.projone {
  color: rgb(214, 250, 9)
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 500px;
  left: 16px;
}

.projtwo {
  color: rgb(214, 250, 9)
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: right;
  position: absolute;
  top: 700px;
  right: 16px;
}

.projthree {
  color: rgb(214, 250, 9)
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 900px;
  left: 16px;
}

  /* Button CSS */
.button {
  display: inline-block;
  border-radius: 16px;
  background-color: whitesmoke;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 15px;
  width: 145px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
  
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
.button:hover span {
  padding-right: 25px;
}
  
.button:hover span:after {
  opacity: 1;
  right: 0;
}